.modal__input{
    width: 358px;
    height: 27.26px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 700px){
    .modal__input{
        max-width: 100%;
        max-height: 100%;

    }
}