.profile__avatar{
    position: relative;
    width: 120px;
}




/*@media screen and (max-width: 500px){
    .profile__avatar{
        margin: auto;
//    }
}

@media screen and (max-width: 300px){
    .profile__avatar{
        margin-top: 42px;
    }
}*/
@media screen and (min-width: 768px) {
    .profile__avatar {
      margin-right: 0;
    }
  }