@import url(./__container/modal__container.css);
@import url(./__close-btn/modal__close-btn.css);
@import url(./__form/modal__form.css);
@import url(./__input/modal__input.css);
@import url(./__save/modal__save.css);
@import url(./__title/modal__title.css);
@import url(./__large-image/modal__large-image.css);
@import url(./__caption/modal__caption.css);
@import url(./__new-container/modal__new-container.css);
@import url(./__error/modal__error.css);
@import url(./__save/_disabled/modal__save_disabled.css);



.modal{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    animation: modalFade 3s;
}
.modal_is-open{
    display: flex;
    background: #0000006b;

}


@media screen and (max-width: 700px){
    .modal{
        max-width: 354px;

    }
}
@media screen and (max-width: 400px){
    .modal{
        max-width: 100%

    }
}