.modal__caption{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: left;
    padding: 10px 0;
    background-color: transparent;
    margin-top: 10px;

}